.last
{
    clear: both;
}

.last-element span
{
    float: left;
    margin-top: 10px;
}

.last-element
{
    float: left;
    width: 28%;
    margin-bottom: 15px;
    height: 119px;
}

.inputfield
{
    width: 40%;
}

#maincontent-design .italic
{
    font-style: italic;
}

.errorMessage
{
    color: red;
    font-weight: 600;
}