.lastmod-element span{
	float: left;
	margin-top: 10px;
}

.lastmod-element{
	float: left;
	width: 28%;
	margin-bottom: 15px;
	height: 120px;
	
}

.last10pub{
	clear: both;
}

.lastpub-element span{
	float: left;
	margin-top: 10px;
}

.lastpub-element{
	float: left;
	width: 28%;
	margin-bottom: 15px;
	height: 120px;
}